html 
{
    background-color: #303952;

    body
    {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        header 
        {
            display: flex;
            background-color: #e66767;
            justify-content: space-between;
            padding: 1vw;
            margin-top: 1vw;
            border-top: 2px solid #3dc1d3;

            #menuHandler
            {
                display: none;
            }
        }
        
        #menu
        {
            color: white;
            margin-bottom: 2vh;
            > ul 
            {
                display: flex;
                justify-content: space-around;
                height: 3vw;
                align-items: center;
                
                li 
                {
                    flex: 1; //Fa que els items ocupin tot l'espai del flex <ul> horitzontalment
                    border: 1px solid #3dc1d3;
                    height: 100%;

                    //Fem flex a dins del li per centrar horitzontal i verticalment el text dins els <li>
                    display: grid;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        main 
        {
            display: flex;
            padding-top: 2vh;
            margin-left: 9vw;
            margin-right: 9vw;
            background-color: #ea878575;

            > section 
            {
                padding: 2vw;
                border: 1px solid #f3a683;
                > h2, h1 
                {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 2vh;
                }
            }
            #contents
            {
                order: 1;
                background-color: #546de5;
            }

            #rightc
            {
                order: 2;
                background-color: #e15f41;
            }

            #leftc
            {
                order: 3;
                background-color: #574b90;
            }
        }

        footer 
        {
            margin-top: auto;
        }
    }
}