html 
{
    background-color: #303952;

    body
    {
        display: flex;
        flex-direction: column;

        header 
        {
            display: flex;
            background-color: #e66767;
            justify-content: space-between;
            padding: 1vw;
            margin-top: 1vw;
            border-top: 2px solid #3dc1d3;
            border-bottom: 2px solid #3dc1d3;

            #menuHandler
            {
                display: none;
            }
        } 

        .menu
        {
            display: flex;
            flex-direction: row;
        }
    }
}